* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/*---- Base ----*/
:root {
	--dark-background: #1f2937;
	--main-text: #f9faf8;
	--secondary-text: #e5e7eb;
	--button-color: #3882f6;
}

.w85 {
	width: 85%;
	margin: 0 auto;
}

.w60 {
	width: 60%;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

button {
	flex-shrink: 0;
	width: 9vw;
	height: 6vh;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

/* ---- Nav ----*/
nav {
	background-color: var(--dark-background);
	padding: 2vh 0;
}

.nav-container {
	justify-content: space-between;
	align-items: center;
}

.nav-container h1 {
	font-size: 24px;
	color: var(--main-text);
}

.nav-container ul {
	display: flex;
	gap: 18px;
}

.nav-container a {
	font-size: 18px;
	color: var(--secondary-text);
}

/*---- One ----*/
#one {
	background-color: var(--dark-background);
	/* padding-bottom: 3vh; */
	padding: 20vh 0;
}

.one-container {
	justify-content: space-around;
	align-content: center;
	gap: 5vw;
}

.left-title-container {
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 1;
	margin: 0;
	gap: 15px;
	/* height: 35vh; */
}

.one-container h2 {
	font-size: 48px;
	font-weight: 900;
	line-height: 90%;
	color: var(--main-text);
}

.one-container p {
	font-size: 18px;
	line-height: 120%;
	color: var(--secondary-text);
}

.one-container button {
	background-color: var(--button-color);
	color: var(--main-text);
	font-weight: bold;
	font-size: 18px;
}

.img-placeholder {
	background-color: gray;
	align-items: center;
	width: 100%;
	height: auto;
}

.img-placeholder p {
	margin: 0 auto;
}

/*---- Two ----*/
#two {
	flex-direction: column;
	gap: 15px;
	padding-top: 8vh;
	padding-bottom: 12vh;
}

#two h3 {
	font-size: 36px;
	font-weight: 900;
	color: var(--dark-background);
	text-align: center;
	margin-bottom: 3vh;
}

.cards {
	justify-content: space-around;
}

.card {
	flex-direction: column;
	align-items: center;
}

.card .img {
	width: 150px;
	height: 150px;
	border: 5px solid var(--button-color);
	margin: 1vh 0vw;
	border-radius: 10px;
}

.card p {
	text-align: center;
	font-size: 18px;
	color: grey;
}

/*---- Three ----*/
#three {
	background-color: var(--secondary-text);
	padding: 5rem 0;
}

.quote p {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	color: var(--dark-background);
}

.quote cite {
	display: flex;
	justify-content: end;
	font-size: 24px;
	font-weight: bold;
	color: var(--dark-background);
	font-style: normal;
}

/*---- Four ----*/
#four {
	padding: 5rem 0;
}

.news-container {
	padding: 3rem 7rem;
	border-radius: 10px;
	background-color: var(--button-color);
	grid-template-columns: 1.2fr 0.8fr;
	place-items: center;
}

.text-wrapper h4,
.text-wrapper p {
	color: var(--secondary-text);
	font-size: 18px;
}

.text-wrapper h4 {
	font-size: 24px;
}

.news-container button {
	justify-self: end;
	background-color: var(--button-color);
	border: 2px solid var(--secondary-text);
	color: var(--secondary-text);
	font-size: 18px;
	font-weight: 500;
}
